configuration {
 modi: "window,drun,ssh,combi";
 font: "Jetbrains Mono 10";
 combi-modi: "window,drun,ssh";
}

window {
	border:0;
	padding: 10;
	width: 120px;
	location: east;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
